html, body, div, span,
h1, h2,h3, h4,h5,h6 a, ol, ul, li, fieldset, form, label, legend , input, p {
    padding: 0;
    margin: 0;
    border:0;
    outline: 0;
    line-height: normal;
    list-style: none;
}

:focus {
    outline: 0;
}

a img {
    border:0;
}

/* clearing */

.clearfix:after,
.header:after,
.teasers:after,
.offers-list:after,
.offers-list-bottom:after {
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.clearfix,
.header
{ *zoom:1; }

/* Fonts < */


@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/MyriadPro-Regular.woff') format('woff'),
	url('fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MyriadPro-It';
    src: url('fonts/MyriadPro-It.eot');
    src: url('fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
	url('fonts/MyriadPro-It.woff') format('woff'),
	url('fonts/MyriadPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('fonts/MyriadPro-Bold.eot');
    src: url('fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/MyriadPro-Bold.woff') format('woff'),
	url('fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('fonts/MyriadPro-Semibold.eot');
    src: url('fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
	url('fonts/MyriadPro-Semibold.woff') format('woff'),
	url('fonts/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* Fonts > */

/* Layout < */

body {
    background: url(../images/bg.png) repeat 0 0;
    font-family: 'Myriad Pro', 'MyriadPro-Regular', 'Arial', sans-serif;
    font-size: 14px;
    color:#666666;
    min-width: 1050px;
}
.container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

/* Layout > */

/* Header < */


.header {
    margin: 0 auto;
    padding-top: 35px;
    position: relative;
    width: 1000px;
    height: 130px;
}

.logo {
    float: left;
    margin: 0 45px 0 0;
    padding: 0;
}

.logo__image {
    display: block;
}

.slogan {
    float: left;
    font-size: 23px;
    line-height: 19px;
    letter-spacing: -1px;
    margin-top: 12px;
    width: 265px;
}
.call {
    background: url(../images/phone.png) no-repeat 0 0;
    padding-left: 60px;
    font-size: 21px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: -1px;
    float: right;
    width: 230px;
}
.phone-number {
    display: block;
    margin-top: -13px;
    font-size: 31px;
}
/* Header > */


.promo-title {
    margin-bottom: 44px;
}

.promo-title__item {
    background: url(../images/dot.png) no-repeat 0 2px;
    list-style: none outside;
    padding-left: 36px;
    font-size: 38px;
    font-weight: bold;
    line-height: 38px;
    letter-spacing: -1px;
    display: block;
    margin-bottom: 12px;
}

/* Discount < */

.discount {
    background: url(../images/offer-bg.png) no-repeat 0 0;
    height: 420px;
    margin-bottom: 45px;
    position: relative;
    width: 1000px;
}
.discount__text {
    background: url(../images/offer-text-bg.png) no-repeat 0 0;
    bottom: 0;
    left:0;
    height: 385px;
    padding-left: 24px;
    padding-top: 20px;
    position: absolute;
    color:#fff;
    width: 264px;
}
.discount-title {
    font-size: 78px;
    font-style: italic;
    font-weight: bold;
    line-height: 76px;
    letter-spacing: -3px;
}
.discount-dates {
    font-weight: bold;
    font-size: 28px;
    display: block;
    margin-bottom: 5px;
    line-height: 30px;
    letter-spacing: -1px;
}
.discount-text {
    font-weight: bold;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1;
}
.discount-countdown__title {
    color:#3d3e3f;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -1px;
    display: block;
    margin-bottom: 3px;
}

.label {
    background: url(../images/label.png) no-repeat 0 0;
    display: block;
    right: 299px;
    top:16px;
    position: absolute;
    height: 140px;
    width: 140px;
    z-index: 2;
}
.form {
    background: url(../images/form-bg.png) no-repeat 0 0;
    position: absolute;
    right:0;
    top:0;
    padding: 32px 0 0 60px;
    height: 400px;
    width: 286px;
    z-index: 1;
}
.form-title {
    font-size: 40px;
    font-family: 'MyriadPro-Semibold',  'Myriad Pro';
    line-height: 30px;
    letter-spacing: -2px;
    font-weight: normal;
    margin-bottom: 20px;
}
.fields-list__item {

    list-style: none outside;
    margin-bottom: 12px;
}
.field {
    background: url(../images/field-bg.png) no-repeat 0 0;
    display: block;
    padding: 20px 15px;
    height: 20px;
    width: 256px;
    font-size: 20px;
    text-transform: uppercase;
}
.btn {
    background: url(../images/btn.png) no-repeat 0 0;
    height: 59px;
    width: 266px;
    margin: 21px 0 0 0;
    padding: 0;
    color:#fff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 58px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

/* Discount > */

.teasers {
    margin-bottom: 44px;
    margin-left: 25px;
}

.teasers__item {
    float: left;
    margin-left: 101px;
}
.teasers__item:first-child {
    margin: 0;
}

/* Special offers < */

.special-offers {
    background: url(../images/sp-bg.png) repeat;
    padding: 40px 0 54px;
    margin-bottom: 58px;
}
.special-offers__title {
    font-size: 74px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 88px;
    color: #fff;
    text-align: center;
    letter-spacing: -2px;
}
.offers-list {
    background: url(../images/offers-all-bg.png) repeat-y 0 0;
}
.offers-list-wrapper {
    position: relative;
    margin-right: -10px;
    padding-left: 14px;
    padding-bottom: 28px;
}
.offers-list__item {
    position: relative;
    float: left;
    margin-left: 18px;
    padding: 16px 8px 20px;
    width: 292px;
}
.offers-list__item:first-child,
.offers-list-bottom__item:first-child {
    margin-left: 5px;
}
.offer-head {
    position: absolute;
    top:-66px;
    left:-5px;
    background: url(../images/offers-top.png) no-repeat 0 0;
    height: 66px;
    width: 316px;
}
.offer-head__text {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 66px;
}
.offer-title {
    font-size: 22px;
    display: block;
    font-family: 'MyriadPro-Semibold',  'Myriad Pro';
    letter-spacing: 0;
    font-weight: normal;
    margin-left: 18px;
}
h3.offer-title {
    margin-top: 20px;
    margin-left: 24px;
}
.complect-list__item {
    background: url(../images/dot-bk.png) no-repeat 6px 6px;
    list-style: none outside;
    padding-left: 24px;
    margin-top: 4px;
    line-height: 21px;
}
.offer-addition-info {
    bottom: 0;
    left:0;
    height: 255px;
}
.offers-list-bottom {
    background: url(../images/offers-bot.png) no-repeat 0 0;
    height: 289px;

}
.offers-list-bottom__item {
    position: relative;
    float: left;
    margin-left: 18px;
    padding: 0 8px 0;
    width: 292px;
}
.offer-price {
    text-align: center;
    font-size: 20px;
    font-family: 'MyriadPro-Semibold',  'Myriad Pro';
    letter-spacing: 0;
    font-weight: normal;
    margin-bottom: 25px;
}
.price-old {
    color: #999999;
    text-decoration: line-through;
}
.price-new {
    font-weight: bold;
    font-size: 36px;
    display: block;
    line-height: 25px;
    margin-bottom: 10px;
    color: #cc0000;
}
.discount-price {
    font-size: 22px;
    font-style: italic;
    font-family: 'MyriadPro-Semibold',  'Myriad Pro';
    line-height: 24px;
    font-weight: normal;
}
.money {
    color: #cc0000;
    display: block;
    font-size: 22px;
}
.development-time {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
}
.garant {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #cc0000;
}

.btn-more {
    background: url(../images/btn-more.png) no-repeat 0 0;
    display: block;
    text-decoration: none;
    color: #6e4400;
    font-size: 20px;
     font-family: 'MyriadPro-Semibold',  'Myriad Pro';
     text-align: center;
     text-shadow: -1px 1px 1px #ffffff;
     width: 277px;
     height: 49px;
     line-height: 48px;
     text-indent: -9999px;
     margin:16px auto 0;
     
}
.projects-banner {
    background: url(../images/blue-banner.png) repeat-x 0 0;
    
    height: 122px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 39px;
    letter-spacing: -1px;
    line-height: 36px;
    padding-top: 43px;
    margin-top: 8px;
    margin-left: 17px;
    margin-right: 23px;

}
/* Special offers > */

/* Information < */

.information {
    background: url(../images/info-bg.png) no-repeat 0 0;
    height: 1569px;
    width: 1030px;
    margin: 0 -16px;
    position: relative;
}
.problems {
    position: absolute;
    height: 650px;
    left:53px;
    top:20px;
    width: 605px;
    overflow: hidden;
    letter-spacing: 0;
}
.problems .reasons-list__item {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 17px;
    margin-top: 15px;
    width: 520px;
}
.reason-name {
    font-size: 24px;
    font-weight: bold;
}
.reasons {
    position: absolute;
    height: 810px;
    left:53px;
    top:725px;
    overflow: hidden;
    width: 605px;
    color:#000000;
}
.reasons .information__title {
    color:#000;
    margin-bottom: 40px;
}
.reasons .reasons-list__item {
    margin: 0 0 23px 94px;
    font-size: 16px;
    width: 445px;
    line-height: 20px;
    min-height: 80px;
}
.reasons .reason-name {
    text-transform: uppercase;
    font-size: 26px;
    line-height: 25px;
}

.comments {
    position: absolute;
    height: 1500px;
    left:700px;
    top:30px;
    overflow: hidden;
    width: 285px;
}
.comments .information__title {
    margin-left: 70px;
    margin-bottom: 40px;
}
.comments-list__item {
    font-size: 15px;
    line-height: 20px;
    padding-top:30px;
    margin-bottom: 30px;
    border-top:2px solid #a3a2a2;
}
.comments-list__item:first-child {
    padding-top: 0;
    border:0;
}
.comments-author {
    display: block;
}
.information__title {
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 36px;
}
/* Information > */

/* work scheme < */

.work-with-us {
    background: url(../images/blue-bg.png) repeat;
    padding: 25px 0 35px;
    margin-top: 80px;
        height: 310px;
}

.work-with-us h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    letter-spacing: -2px;

}

.work-scheme {
    background: url(../images/work-scheme.png) no-repeat 0 2px;
    padding-top: 183px;
    overflow: hidden;
    margin-left: 17px;
}
.work-scheme__item {
    float: left;
    width: 164px;
    margin-left: 35px;
    font-size: 22px;
    font-weight: bold;
    color:#fff;
    text-align: center;
    line-height: 25px;
    letter-spacing: -1px;
}
.work-scheme__item:first-child {
    margin-left: 0;    
}



/* popup < */

.popup {
    height: 265px;
    padding: 19px 22px;
    width: 316px;
}
.popup legend {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
}
.popup input {
    background: url("../images/popup-input.png?1") repeat scroll 0 0 transparent;
    border-radius: 7px 7px 7px 7px;
    color: #000000;
    font-size: 22px;
    height: 39px;
    margin-bottom: 11px;
    padding-left: 17px;
    width: 289px;
}
.popup-button {
    background: url("../images/popup-submit.png?2") repeat scroll 0 0 transparent;
    border: medium none;
    height: 49px;
    width: 309px;
    cursor: pointer;
}
.popup-button:hover {
    background-position:  0 -49px;
}
.popup-button:active {
    background-position:  0 -98px;
}
.popup-button-text {
    color: white;
    font-size: 20px;
    text-shadow: 0 1px 2px #706F6F;
    line-height: 14px;
}
/* popup > */

/* works < */

.works {
    background: url(../images/carousel-shadow.png) repeat-x;
    padding: 25px 0 40px;
    min-height: 190px;
    margin-bottom: 70px;    
}
.works-carousel {
    width: 100%;
    height: 110px;
    overflow: hidden;
}
.works h2 {
    font-size: 38px;
    letter-spacing: -1px;
    text-align: center;
    text-transform:uppercase;
    margin-bottom: 21px;
}

.jcarousel-item {
    height: 110px;
    width: 146px;
    float: left;
    margin: 0 9px;
}
.jcarousel-item img {
    width: 146px;
    height: 110px;
}
.jcarousel-clip {
    height: 110px;
    width: 820px;
    overflow: hidden;
}
.jcarousel-container {
    padding-left: 90px;
}
.jcarousel-prev, 
.jcarousel-next {
    background: url(../images/arrows.png) no-repeat 0 0;
    display: block;
    position: absolute;
    cursor: pointer;
    height: 58px;
    width: 61px;
    top:18px;
    left:19px;
}

.jcarousel-next {
    background-position: -65px 0;
    left:auto;
    right: 19px;
}


/* bottom form < */

.bottom-form {
    background: url(../images/form-white.png) no-repeat 0 0;
    width: 1030px;
    margin: 0 0 0 -15px;
    height: 450px;
    position: relative;
}
.bottom-form .form {
    right:15px;
    top:1px;
}

.bottom-form-text {
    padding: 33px 0 0 50px;
    width: 610px;
}
.bottom-form__title {
    color:#008dd2;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 10px;
}

.check-list__item {
    background: url(../images/list-check.png) no-repeat 14px 10px;
    padding-left: 38px;
    font-size: 26px;
    margin-bottom: 3px;
    letter-spacing: -1px;
}
.call-us {
    color:#008dd2;
    font-weight: bold;
    font-size: 33px;
    line-height: 30px;
    letter-spacing: -2px;
    margin-top: 53px;
    position: relative;
    
}
.call-us .form-number {
    font-size: 52px;
    line-height: 44px;
    display: block;
    letter-spacing: -3px;
}
.call-us-or {
    position: absolute;
    top:-6px;
    left:457px;
    font-size: 38px;
}


/* partners < */

.partners {
    background: url(../images/clients-bg.png) repeat-x 0 0;
    height: 430px;
    overflow: hidden;
    margin-top: 19px;
}
.partners h2 {
    color:#656565;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 36px;
    letter-spacing: -1px;
    margin-bottom: 42px;
}

.partners img {
    display: block;
    margin: 0 0 63px 20px;
}
/* footer */

.footer {
    background: url(../images/footer-bg.png) repeat-x 0 0;
    height: 337px;
    overflow: hidden;
}

.info-box {
    color:#fff;
    width: 310px;
    margin-top: 12px;
    margin-bottom: 20px;
    font-family: 'MyriadPro-Semibold',  'Myriad Pro';
    font-size: 18px;
    margin-left: 17px;
}
.info-box__title {
    font-weight: bold;
    font-size: 24px;
}
.contacts-text {
    line-height: 21px;
}
.map {
    position: absolute;
    width: 630px;
    height: 300px;
    top:4px;
    right: 23px;
}